div {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
}

p {
  border-bottom: 2px solid black;
  width: 8vw;
  height: 15vh;
}

h2 {
  width: 8vw;
  height: 5vh;
}
